@model NetsBrokerIntegration.NetCore.Models.AuthenticationErrorResponse
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Nets eID Broker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/icon.png">

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">

    <meta name="theme-color" content="#fafafa">
</head>

<body class="open">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            if (window.opener && window.opener !== window) {
                window.opener.postMessage("CLOSE", '*');
            }
        });
    </script>
    <header>
        <figure class="logo"></figure>

    </header>
    <div class="content">
        <h2>We apologize</h2>
        <h1>
            An error occured!
        </h1>
        <h4>
            This is an demonstration of how<br />
            Nets eID Broker error messages could look like.<br />
            <i>Not what to show the user</i>
        </h4>

        <div class="console-like">
            <header>Error Details</header>
            <div class="console-output">
                <h2><label asp-for="Error"></label></h2>
                <p>@Model.Error</p>
                <h2><label asp-for="Error_Description"></label></h2>
                <p>@Model.Error_Description</p>
                <h2><label asp-for="Error_Uri"></label></h2>
                <p>@Model.Error_Uri</p>
            </div>
        </div>
        <a class="btn btn-main btn-signin btn-lg" href="@Url.Action("Index","Home")">Try again</a>
    </div>
</body>
</html>
