@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Nets eID Broker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/landingpage.css" asp-append-version="true">
    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <div class="ie11-warning">
        <h1>This demo is not ready for IE11 yet. Please use Google Chrome.</h1>
    </div>
    <div id="app" v-bind:class="{'popup-active': popupActivated }">
        <div class="popup-dialog">
            <div class="popup-background"></div>
            <div class="popup-content">
                <figure class="popup"></figure>
                <strong>Don’t see the secure MitID popup?</strong>
                <p>We’ll help you re-launch the window</p>
                <button class="btn btn-main" v-on:click="callOP()">Reopen popup</button>
                <button class="btn" v-on:click="closeWindow()">Get back</button>
            </div>
        </div>
        <header>
            <figure class="logo"></figure>

        </header>
        <div class="content">
            <h1>
                The easy way to<br />OpenID Connect
            </h1>
            <h4>
                This is an demonstration of how<br />
                Nets eID Broker can be used.
            </h4>
            <button class="mitid-button" id="basic-signin-button" v-show="!persistedParameters.advancedOptions" v-on:click="basicSignin()">
                Try out Nets eID Broker
            </button>
            <button class="btn-text" id="advanced-signin-button" v-on:click="toggleAdvanced()">Toggle Advanced Options</button>
            <form class="signin-form" v-on:submit="callOP" v-show="persistedParameters.advancedOptions">
                <h5>IDP options</h5>
                <div class="alert" v-if="!idpSelected">
                    Please select at least one IDP
                </div>
                <label class="checkbox-multi-select" id="mitid-checkbox">
                    <input type="checkbox" v-model="persistedParameters.idp.mitid" />
                    <span class="checkbox-control">
                        <span class="subject">
                            <div class="checkbox-marker"></div>
                            <span class="mitid-icon"></span>
                        </span>
                    </span>
                </label>
                <div class="form-group" v-show="persistedParameters.idp.mitid">
                    <h5>Authentication Level</h5>
                    <div class="input-group">
                        <label class="radio-select" id="mitid-onefactor">
                            <input type="radio" name="mitid-authentication-level" value="@LoaConstants.MitIdLow" v-model="persistedParameters.mitidSpecific.loa_value" />
                            <span class="radio-control">
                                <span class="one-factor-icon"></span>
                                <span class="subject">
                                    <span class="mitid-icon"></span>
                                    <span>NSIS Low</span>
                                </span>
                            </span>
                        </label>
                        <label class="radio-select" id="mitid-twofactor">
                            <input type="radio" name="mitid-authentication-level" value="@LoaConstants.MitIdSubstantial" v-model="persistedParameters.mitidSpecific.loa_value" />
                            <span class="radio-control">
                                <span class="two-factor-icon"></span>
                                <span class="subject">
                                    <span class="mitid-icon"></span>
                                    <span>NSIS Substantial</span>
                                </span>
                            </span>
                        </label>
                    </div>

                    <h5>Reference text</h5>
                    <input type="text" v-model="persistedParameters.mitidSpecific.reference_text" />

                    <label class="checkbox-select">
                        <input type="checkbox" name="psd2" v-model="persistedParameters.mitidSpecific.require_psd2" />
                        <span class="checkbox-control">
                            <span class="checkbox-indicator"></span>
                            <span>Require PSD2</span>
                        </span>
                    </label>

                    <label class="checkbox-select">
                        <input type="checkbox" name="nemid_pid" v-model="persistedParameters.mitidSpecific.nemid_pid" />
                        <span class="checkbox-control">
                            <span class="checkbox-indicator"></span>
                            <span>NemID PID</span>
                        </span>
                    </label>
                    <label class="checkbox-select">
                        <input type="checkbox" name="mitid-transaction" v-model="persistedParameters.mitidSpecific.transactionSigning" />
                        <span class="checkbox-control">
                            <span class="checkbox-indicator"></span>
                            <span>Transaction signing</span>
                        </span>
                    </label>
                    <div v-show="persistedParameters.mitidSpecific.transactionSigning" class="textarea-content">
                        <div class="input-group-compact">
                            <label class="radio-select">
                                <input type="radio" name="mitid-transaction-sign-text-type" value="text" v-model="persistedParameters.mitidSpecific.sign_text_type" />
                                <span class="radio-control">
                                    Plain text
                                </span>
                            </label>
                            <label class="radio-select">
                                <input type="radio" name="mitid-transaction-sign-text-type" value="html" v-model="persistedParameters.mitidSpecific.sign_text_type" />
                                <span class="radio-control">
                                    HTML
                                </span>
                            </label>
                            <label class="radio-select">
                                <input type="radio" name="mitid-transaction-sign-text-type" value="pdf" v-model="persistedParameters.mitidSpecific.sign_text_type" />
                                <span class="radio-control">
                                    PDF
                                </span>
                            </label>
                        </div>
                        <div v-show="persistedParameters.mitidSpecific.sign_text_type==='html'">
                            <textarea v-model="persistedParameters.mitidSpecific.default_sign_text_html"></textarea>
                        </div>
                        <div v-show="persistedParameters.mitidSpecific.sign_text_type==='text'">
                            <textarea v-model="persistedParameters.mitidSpecific.default_sign_text_plain"></textarea>
                        </div>
                        <div v-show="persistedParameters.mitidSpecific.sign_text_type==='pdf'">
                            <input type="file" name="mitid-transaction-file-input" accept="application/pdf" v-on:change="convertFileToBase64();" />
                            <div class="alert">Please note, than an example PDF is used in this flow, unless a PDF is specified</div>
                        </div>
                    </div>
                </div>

                <label class="checkbox-multi-select" id="nemid-checkbox">
                    <input type="checkbox" v-model="persistedParameters.idp.nemid" />
                    <span class="checkbox-control">
                        <span class="subject">
                            <div class="checkbox-marker"></div>
                            <span class="nemid-icon"></span>
                        </span>
                    </span>
                </label>
                <div class="form-group" v-show="persistedParameters.idp.nemid">

                    <h5>App transaction text</h5>
                    <input type="text" v-model="persistedParameters.nemidSpecific.apptransactiontext" />
                    <label class="checkbox-select">
                        <input type="checkbox" name="nemid-transaction" v-model="persistedParameters.nemidSpecific.nemid_private_to_business" />
                        <span class="checkbox-control">
                            <span class="checkbox-indicator"></span>
                            <span>Private to Business</span>
                        </span>
                    </label>
                </div>

                <h5>User Experience</h5>
                <div class="input-group">
                    <label class="radio-select" id="ux-popup">
                        <input type="radio" name="ux" value="popup" v-model="persistedParameters.uxType" />
                        <span class="radio-control">
                            <span class="popup-icon"></span>
                            <span class="subject">
                                <span>Pop-up window</span>
                            </span>
                        </span>
                    </label>
                    <label class="radio-select" id="ux-redirect">
                        <input type="radio" name="ux" value="redirect" v-model="persistedParameters.uxType" />
                        <span class="radio-control">
                            <span class="redirect-icon"></span>
                            <span class="subject">
                                <span>Redirect</span>
                            </span>
                        </span>
                    </label>
                </div>

                <h5>Language</h5>
                <div class="input-group">
                    <label class="radio-select" id="lang-dk">
                        <input type="radio" name="language" value="da-DK" v-model="persistedParameters.language" />
                        <span class="radio-control">
                            <span class="flag-dk"></span>
                            <span class="subject">
                                <span>Danish</span>
                            </span>
                        </span>
                    </label>
                    <label class="radio-select" id="lang-en">
                        <input type="radio" name="language" value="en-GB" v-model="persistedParameters.language" />
                        <span class="radio-control">
                            <span class="flag-gb"></span>
                            <span class="subject">
                                <span>English</span>
                            </span>
                        </span>
                    </label>
                    <label class="radio-select" id="lang-gl">
                        <input type="radio" name="language" value="kl-GL" v-model="persistedParameters.language" />
                        <span class="radio-control">
                            <span class="flag-gl"></span>
                            <span class="subject">
                                <span>Greenlandic</span>
                            </span>
                        </span>
                    </label>
                </div>

                <h5>Extra Features</h5>
                <label class="checkbox-select">
                    <input type="checkbox" name="cpr" v-model="persistedParameters.ssn" />
                    <span class="checkbox-control">
                        <span class="checkbox-indicator"></span>
                        <span>Require Social Security Number</span>
                    </span>
                </label>
                <button type="submit" id="proceed-button" v-bind:disabled="!formValid">
                    Proceed
                </button>
            </form>
            </div>
    </div>
    <script src="~/js/vue.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
</body>

</html>
