@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    --nets-light-blue:   rgb(201,233,251);
    --nets-dark-blue:    rgb(0,87,118); 
    --nets-bright-blue:  rgb(0,190,240); 
    --nets-blue-grey:    rgb(110,159,188); 
    --nets-middle-blue:  rgb(130,208,245);
    --nets-light-gray:   rgb(235,235,235); 
    --nets-dark-gray:    rgb(186,186,186); 
    --nets-orange:       rgb(237,139,0); 

    --font-color:        rgb(50,50,50);
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color:var(--font-color);
    display:flex;
    min-height:100vh;
}

.logo{
    background:url(assets/logo.svg) no-repeat left top;
    background-size: contain;
    height:120px;
    width:230px;
    margin:2rem 0 4rem 0;
}
aside{
    background:var(--nets-light-gray);
    padding:2rem;
    max-width:310px;
    height:auto;
    box-shadow:inset -10px 0px 15px rgb(0,0,0,.05);
    box-sizing: border-box;
    flex:1;
}
aside ul{
    padding:0;
    list-style:none;
}
aside ul li{
    padding:0;
}
aside ul li ul{
    display:none;
    padding-left:1rem;
}
aside ul li:hover ul,
aside ul li.active ul{
    display:block;
}
aside ul li.active a{
    color:var(--nets-bright-blue);
}
aside ul li a{
    color:var(--font-color);
    text-decoration: none;
    padding:1rem 0;
    display:inline-block;
}
aside ul li a:hover{
    color:var(--nets-bright-blue);
}

.base{
    flex:1;
}
.jumbotron{
    min-height: 500px;
    padding:2rem 4rem;
    background:linear-gradient(rgb(250,250,250), rgb(242,242,242));
    box-sizing: border-box;
}
.jumbotron nav ul{
    list-style:none;
    padding:0;
    margin-bottom:2rem;
}
.jumbotron nav ul li{
    display:inline-block;
    padding-right:2rem;
}
.jumbotron nav ul li:first-child{
    padding-left:0;
}

.jumbotron nav ul li.active a{
    color:var(--nets-bright-blue);
    border-bottom:1px solid var(--nets-bright-blue);
}
.jumbotron nav ul li a{
    color:var(--font-color);
    text-decoration: none;
    padding:1rem 0;
}
.jumbotron .title{
    margin-top:7rem;
}
button{
    padding:.5rem 1rem;
    border-radius: .25rem;
    border:0;
    cursor: pointer;
}
button.btn-primary{
    background-color:var(--nets-bright-blue);
    color:white;
}
button.btn-secondary{
    border:1px solid var(--nets-bright-blue);
    color:var(--nets-bright-blue);
}
.content{
    padding:2rem 4rem;
}
ul li{
    padding:.5rem;
}
code{
    background:rgb(242,242,242);
    border-radius: .25rem;
    padding:2rem;
    display:block;
}